{% extends 'layout/base.html' %}
{% load static %}
{% load roles_tag %}

{% block title %} Экологи {% endblock %}
{% block description %} Роль Эколог {% endblock %}
{% block keywords %} веб-квест {% endblock %}

{% block content %}
    {% show_roles_name %}
    <div class="title_layout">
        <h1 class="title">Экологи</h1>
    </div>
    <div>
        <p>1) Узнай, какие есть заповедники в ХМАО-Югре.</p>
        <p>2) Какие виды животных удалось сохранить благодаря работе заповедников?</p>
        <p>3) Какие животные, растения, птицы занесены в Красную книгу ХМАО- Югры?</p>
    </div>
    <div>
        <ul>
            <p>Для работы воспользуйтесь следующими ресурсами:</p>
        </ul>
        <li>
            <a href="http://www.zapoved.net/index.php/katalog/regiony-rossii/uralskij-fo/khanty-mansijskij-okrug-yugra">
                https://www.zapoved.net/
            </a>
        </li>
        <li>
            <a href="https://ru.wikipedia.org/wiki/Юганский_заповедник">
                https://ru.wikipedia.org/
            </a>
        </li>
        <li>
            <a href="http://m-sosva.ru/?page_id=3533">
                https://m-sosva.ru/
            </a>
        </li>
        <li>
            <a href="https://sovlib.ru/uploadedFiles/files/bliki/2016/BLIKI-69-703-4.2016.pdf">
                https://sovlib.ru/
            </a>
        </li>
        <li>
            <a href="https://prirodnadzor.admhmao.ru/upload/iblock/4f0/krasnaya_kniga_yugry_izd_2e_2013.pdf">
                https://prirodnadzor.admhmao.ru/
            </a>
        </li>


    </div>
{% endblock %}