{% extends 'layout/base.html' %}
{% load static %}
{% load roles_tag %}

{% block title %} Экскурсоводы {% endblock %}
{% block description %} Роль Экскурсовод {% endblock %}
{% block keywords %} веб-квест {% endblock %}
{% block stylesheet_file_link %} {% static "css/guide.css" %} {% endblock %}

{% block content %}
    {% show_roles_name %}
    <div class="title_layout">
        <h1 class="title">Экскурсоводы</h1>
    </div>
    <div class="images_block">
        <div class="image">
            <img src="{% static "image/role/guide/img1.png" %}" alt="">
            <div class="description">Парк бронзовых скульптур обитателей Каменного века в расположен в Ханты-Мансийске.</div>
        </div>
        <div class="image">
            <img src="{% static "image/role/guide/img2.png" %}" alt="">
            <div class="description">Югорский мост</div>
        </div>
        <div class="image">
            <img src="{% static "image/role/guide/img3.png" %}" alt="">
            <div class="description">Первая скважина на Самотлоре</div>
        </div>

    </div>
    <div>
        <p>1) Рассмотрите фотографии. Соберите о них как можно больше информации.</p>
        <p>2) Составьте виртуальную экскурсию для всех гостей Ханты-Мансийского автономного округа.</p>
    </div>
    <div>
        <ul>
            <p>Для работы воспользуйтесь следующими ресурсами:</p>
        </ul>
        <li>
            <a href="https://nashural.ru/interesnoe/11-chudes-hmao/">
                https://nashural.ru/
            </a>
        </li>
        <li>
            <a href="http://www.orcinus.ru/pub_07/progulka-po-nizhnevartovsku/">
                http://www.orcinus.ru/
            </a>
        </li>
    </div>
{% endblock %}