{% extends 'layout/base.html' %}
{% load static %}
{% load roles_tag %}

{% block title %} Геральдисты {% endblock %}
{% block description %} Роль Геральдист {% endblock %}
{% block keywords %} веб-квест {% endblock %}

{% block content %}
    {% show_roles_name %}
    <div class="title_layout">
        <h1 class="title">Геральдисты</h1>
    </div>
    <div>
        <p>1) Внимательно рассмотрите герб и флаг ХМАО. Предположите, что обозначает каждый из символов. Проверьте свои предположения в источниках информации. Узнайте, когда и кем они были созданы.</p>
        <p>2) Узнай, какая песня является гимном ХМАО?</p>
    </div>
    <div>
        <ul>
            <p>При формулировке выводов воспользуйтесь следующими ресурсами:</p>
        </ul>
        <li>
            <a href="https://admhmao.ru/ob-okruge/simvoly/">
                https://admhmao.ru/ob-okruge/simvoly/
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/watch?v=PFsmJ5Cy1JY">
                https://www.youtube.com/watch?v=PFsmJ5Cy1JY
            </a>
        </li>

    </div>
{% endblock %}