{% extends 'layout/base.html' %}
{% load static %}
{% load roles_tag %}

{% block title %} Историки {% endblock %}
{% block description %} Роль Историк {% endblock %}
{% block keywords %} веб-квест {% endblock %}

{% block content %}
    {% show_roles_name %}
    <div class="title_layout">
        <h1 class="title">Историки</h1>
    </div>
    <div>
        <p>1) Когда был образован Ханты-Мансийский автономный округ?</p>
        <p>2) Откуда произошло такое название? Как назывался этот округ раньше?</p>
        <p>3) Где расположен этот округ?</p>
        <p>4) Какой город является административным центром ХМАО – Югры?</p>
    </div>
    <div>
        <ul>
            <p>Для работы воспользуйтесь следующими ресурсами:</p>
        </ul>
        <li>
            <a href="https://ria.ru/20150226/1049793008.html">
                https://ria.ru/
            </a>
        </li>
        <li>
            <a href="https://admhmao.ru/ob-okruge/obshchie-svedeniya/">
                https://admhmao.ru/
            </a>
        </li>

    </div>
{% endblock %}