{% extends 'layout/base.html' %}
{% load static %}
{% load roles_tag %}

{% block title %} Краеведы {% endblock %}
{% block description %} Роль Краевед {% endblock %}
{% block keywords %} веб-квест {% endblock %}
{% block stylesheet_file_link %} {% static "css/local_historian.css" %} {% endblock %}


{% block content %}
    {% show_roles_name %}
    <div class="title_layout">
        <h1 class="title">Краеведы</h1>
    </div>
    <div class="verse_layout">
        <div class="verse_block">
            <p>Если расцвели тюльпаны,</p>
            <p>Значит скоро ветераны -</p>
            <p>Наши прадеды и деды</p>
            <p>Встретят Праздник - День ... ! </p>
        </div>
    </div>
    <div>
        <p>1) Догадайтесь, о каком празднике идёт речь?</p>
        <p>2) Какие памятники, установленные на территории муниципальных образований ХМАО – Югры, посвящены Великой Отечественной войне 1941-1945 гг?</p>
        <p>3) Познакомьтесь с историей памятника «Памятник  воинам - сибирякам» в городе Нижневартовске (как он появился, в каком году)?</p>
    </div>
    <div>
        <ul>
            <p>Для работы воспользуйтесь следующими ресурсами:</p>
        </ul>
        <li>
            <a href="https://depsr.admhmao.ru/deyatelnost/arkhiv/prazdnovanie-70-y-godovshchiny-pobedy-v-velikoy-otechestvennoy-voyne-1941-1945-godov/doklad-o-polozhenii-veteranov-velikoy-otechestvennoy-voyny-1941-1945-gg-v-khanty-mansiyskom-avtonomn/330626/perechen-pamyatnikov-posvyashchennykh-velikoy-otechestvennoy-voyne-1941-1945-gg-ustanovlennykh-na-te">
                https://depsr.admhmao.ru/
            </a>
        </li>
        <li>
            <a href="https://imena.onf.ru/placements/hanty-mansiyskiy-ao-yugra/memorial-voinam-zemlyakam-pogibshim-v-gody-velikoy">
                https://imena.onf.ru/
            </a>
        </li>

    </div>
{% endblock %}