body {
    margin: 0;
    padding: 0;
    background: url("../image/bg.png") repeat;
    background-size: 15px;
}

header #logo {
    padding: 5px;
    background-color: white;
    width: 190px;
}

header .company_name {
    color: yellow;
    width: 100%;
    align-content: center;
    text-align: center;
}

header #header_block {
    background-color: #2c95fe;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

#header_navbar {
    background-color: #2c95fe;
    padding: 12px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

#header_navbar > a {
    background-color: transparent;
    color: yellow;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid white;
    padding: 8px;
    margin: 8px 0 8px 0;
    text-align: center;
 }

#content_layout {
    display: flex;
}

#content_layout #content {
    padding: 12px;
    width: 100%;
}

#content .title {
    color: #0000CC;
    text-decoration: underline;
}

#content .title_layout {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

#content p {
    color: #0000CC;
    font-size: 20px;
    font-weight: bold;
}

.roles_name {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.roles_name > a {
    padding: 12px;
    background-color: lightblue;
    color: deeppink !important;
    border-radius: 2px;
    font-size: 20px;
}