.images_block {
    display: flex;
    justify-content: space-around;
}

.images_block .image {
    max-width: 250px;
}

.images_block .image > .description {
    font-size: 18px;
    font-weight: bold;
}

.images_block .image > img {
    height: 180px;
}