.verse_layout {
    width: 100%;
    display: flex;
    justify-content: center;
}

.verse_block {
    width: 50%;
}

.verse_block > p {
    color: black !important;
}

.verse_block > .author {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}