{% extends 'layout/base.html' %}
{% load static %}
{% load roles_tag %}

{% block title %} Критерии оценок {% endblock %}
{% block description %} Критерии оценок {% endblock %}
{% block keywords %} веб-квест {% endblock %}
{% block stylesheet_file_link %} {% static "css/evaluation_criteria.css" %} {% endblock %}

{% block content %}
    {% show_roles_name %}
    <div class="title_layout">
        <h1 class="title">Критерии оценок</h1>
    </div>
    <table border="1">
        <tr>
            {% for key, value in columns_name.items %}
                <th colspan="{{ value }}">{{ key }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for sub_column in sub_columns_name %}
                <th>{{ sub_column }}</th>
            {% endfor %}
        </tr>



                    {% for user_values in user_stats_list %}
                         <tr>
                        {% for value in user_values %}
                             <td>
                                {{ value }}
                            </td>
                        {% endfor %}
                        </tr>
                    {% endfor %}




    </table>
{% endblock %}