{% extends 'layout/base.html' %}
{% load static %}
{% load roles_tag %}

{% block title %} Главная {% endblock %}
{% block description %} Приглашаем вас совершить удивительное путешествие по Ханты-Мансийскому автономному округу! {% endblock %}
{% block keywords %} веб-квест {% endblock %}
{% block stylesheet_file_link %} {% static "css/index.css" %} {% endblock %}

{% block content %}
    {% show_roles_name %}
    <div class="title_layout">
        <h1 class="title">Главная</h1>
    </div>
    <div>
        <p>Приглашаем вас совершить удивительное путешествие по Ханты-Мансийскому автономному округу!</p>
        <p>Веб-квест (web quest) в переводе с английского - проблемное задание с элементами ролевой игры, для выполнения которого используются информационные ресурсы Интернета.</p>
        <p>Выполнив задания этого веб-квеста, вы узнаете много интересного о Ханты-Мансийском автономном округе, а также создадите путеводитель "Прогулки по ХМАО». Каждый сможет открыть для себя, что-то новое, чтобы рассказать об этом удивительном месте другим.</p>
        <p>Выберите роль по интересу, исследуйте предложенные ресурсы в сети Интернет и выполняйте задания!</p>
        <p>Чтобы продолжить дальше, перейдите на вкладку Роли.</p>
        <p>Желаем удачи!</p>
    </div>
{% endblock %}