{% extends 'layout/base.html' %}
{% load static %}
{% load roles_tag %}

{% block title %} Порядок работы {% endblock %}
{% block description %} На данном этапе предлагаем вам выбрать для себя одну из ролей, представленных ниже. {% endblock %}
{% block keywords %} веб-квест {% endblock %}

{% block content %}
    {% show_roles_name %}
    <div class="title_layout">
        <h1 class="title">Порядок работы</h1>
    </div>
    <div>
        <p>1. Познакомьтесь с темой и проблемой квеста.</p>
        <p>2. Выберите одну из предложенных ролей.</p>
        <p>3. Познакомьтесь с задачами своей роли.</p>
        <p>4. Изучите список ресурсов.</p>
        <p>5. Составьте план поиска информации по своей роли.</p>
        <p>6. Исследуйте информационные ресурсы по своей роли.</p>
        <p>7. Оформите отчёт в виде презентации, рекламного буклета, плаката, таблицы. Не забудьте ознакомиться с критериями оценок.</p>
        <p>8. Обсудите результаты работы, проведите защиту результатов проекта.</p>
    </div>
{% endblock %}