{% extends 'layout/base.html' %}
{% load static %}
{% load roles_tag %}

{% block title %} Итоги {% endblock %}
{% block description %} Вот и закончилась наша игра. Надеюсь, что она помогла вам по-новому взглянуть на Ханты – Мансийский автономный округ и пробудила у вас желание лучше, глубже узнать его историю {% endblock %}
{% block keywords %} веб-квест {% endblock %}
{% block stylesheet_file_link %} {% static "css/results.css" %} {% endblock %}

{% block content %}
    {% show_roles_name %}
    <div class="title_layout">
        <h1 class="title">Итоги</h1>
    </div>
    <div>
        <h2>Вот и закончилась наша игра. Надеюсь, что она помогла вам по-новому взглянуть на Ханты – Мансийский автономный округ и пробудила у вас желание лучше, глубже узнать его историю.</h2>
        <div class="verse_layout">
            <div class="verse_block">
                <p>Югория...Тайги органный шум</p>
                <p>И рек твоих неспешное теченье</p>
                <p>Рождают в сердце свет высоких дум</p>
                <p>О жизни, о земном предназначенье.</p>
                <p>Люблю твои просторы без границ,</p>
                <p>Люблю твои протоки и озера,</p>
                <p>Люблю улыбки просветленных лиц,</p>
                <p>Державность и конкретность разговора.</p>
                <p>Гостеприимен древний твой порог.</p>
                <p>Отбрасывая суетность и тленность,</p>
                <p>Хранишь ты мудрость пройденных дорог</p>
                <p>И с трепетом вникаешь в современность.</p>
                <p>Ты держишь ключ бессмертия в руках</p>
                <p>И чашу жизни пьешь в кругу с друзьями;</p>
                <p>И голос твой на всех материках</p>
                <p>Равно звучит с другими голосами. </p>
                <div class="author">Михаил Антохин</div>
            </div>
        </div>
    </div>
{% endblock %}