{% extends 'layout/base.html' %}
{% load static %}
{% load roles_tag %}

{% block title %} Роли {% endblock %}
{% block description %} На данном этапе предлагаем вам выбрать для себя одну из ролей, представленных ниже. {% endblock %}
{% block keywords %} веб-квест {% endblock %}

{% block content %}
    {% show_roles_name %}
    <div class="title_layout">
        <h1 class="title">Роли</h1>
    </div>
    <div>
        <p>На данном этапе предлагаем вам выбрать для себя одну из ролей, представленных ниже.</p>
        {% show_roles_description %}
    </div>
{% endblock %}