{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
          <meta charset="utf-8">
          <meta content="width=device-width, initial-scale=1.0" name="viewport">
          <title>{% block title %}{% endblock %} | Веб-Квест</title>
          <meta content="{% block description %}{% endblock %}" name="description">
          <meta content="{% block keywords %}{% endblock %}" name="keywords">
          <!-- Google Fonts -->
          <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
          <link rel="stylesheet" href="{% static "css/base.css" %}"/>
          <link rel="stylesheet" href="{% block stylesheet_file_link %}{% endblock %}"/>
    </head>
    <body>
        <header>
            <div id="header_block">
                <img id="logo" src="{% static "image/flag.png" %}" alt="logo">
                <h1 class="company_name">Веб-квест НКО Ассоциация «АИСТ» Ханты-Мансийский автономный округ</h1>
            </div>
        </header>
        <section id="content_layout">
            <div id="header_navbar">
                <a href="{% url 'index' %}">Главная</a>
                <a href="{% url 'roles' %}">Роли</a>
                <a href="{% url 'operating_procedure' %}">Порядок работы</a>
                <a href="{% url 'evaluation_criteria' %}">Критерии оценок</a>
                <a href="{% url 'results' %}">Итоги</a>
                <a href="/admin">Вход</a>
                <img id="flag2" src="{% static "image/flag2.png" %}" alt="Флаг">
            </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        </section>
    </body>
</html>